{{log 'counter-edit-template' this}}

<form>
    <div class="flexcol">
    <div title="{{localize "SFRPG-COUNTER.label"}}">
        <label for="label">Name: </label>
        <input type="text" value="{{label}}" name="label" data-dtype="String"/>
    </div>
    <div title="{{localize "SFRPG-COUNTER.min"}}">
        <label for="min">Min: </label>
        <input type="text" value="{{min}}" name="min" data-dtype="String"/>
    </div>
    <div title="{{localize "SFRPG-COUNTER.max"}}">
        <label for="max">Max: </label>
        <input type="text" value="{{max}}" name="max"/>
    </div>
    <div title="{{localize "SFRPG-COUNTER.value"}}">
        <label for="value">Value: </label>
        <input type="text" value="{{value}}" name="value"/>
    </div>
    <div title="{{localize "SFRPG-COUNTER.auto-update"}}">
        <label for="isAuto">Auto-update counter value: </label>
        <input type="checkbox" name="isAuto" data-dtype="Boolean" {{checked isAuto}}/>
    </div>
    {{#if isAuto}}
    <div title="{{localize "SFRPG-COUNTER.auto-update-on"}}">
        <label for="autoOn" > on... </label>
        <select name="autoOn">
            {{#select autoOn}}
            <option value="longRest">Long rest</option>
            <option value="shortRest">Short rest</option>
            <option value="startTurn">Start of combat turn</option>
            <option value="endTurn">End of combat turn</option>
            {{/select}}
        </select>
    </div>
    <div title="{{localize "SFRPG-COUNTER.auto-update-by"}}">
        <label for="autoValue">by..</label>
        <select name="autoValue">
            {{#select autoValue}}
            <option value="addOne">adding 1</option>
            <option value="subOne">subtracting 1</option>
            <option value="toMin">setting to min</option>
            <option value="toMax">setting to max</option>
            <option value="to0">setting to 0</option>
            {{/select}}
        </select>
    </div>
    {{/if}}
    <div title="{{localize "SFRPG-COUNTER.feat-control"}}">
        <label for="isItemAuto">Control Feat Activation: </label>
        <input type="checkbox" name="isItemAuto" data-dtype="Boolean" {{checked isItemAuto}} />
    </div>
    <div class="flexrow">
        <div class="item-image">
            <img src={{itemImg}} style="height: 35px; max-width:100%;">
        </div>
        <div name="itemName">{{itemName}}</div>
    </div>
    {{#if isItemAuto}}
    <div title="{{localize "SFRPG-COUNTER.feat-control-on"}}">
        <label for="itemActivateAt">activate feat on..</label>
        <input type="text" value="{{itemActivateAt}}" name="itemActivateAt" />
    </div>
    <div title="{{localize "SFRPG-COUNTER.feat-control-off"}}">
        <label for="itemDeactivateAt">deactivate feat on..</label>
        <input type="text" value="{{itemDeactivateAt}}" name="itemDeactivateAt" />
    </div>
    {{/if}}
    </div>
</form>