{{log 'counter-list-template' this}}

<form>
  <ul class="counter-list flexcol" style="padding 0 0 0">
    {{#each counters}}
    <li class="flexrow" data-counter-id="{{id}}">

      <div class="flexrow" style="flex-wrap: nowrap;">
        <div class="flexrow flex4" style="flex:  none;"
>
          <div class="item-image flex1" style="padding-right: 10px;">
            <img src={{itemImg}} style="height: 35px; max-width:100%;" title="{{itemName}}">
          </div>
          <div>
            <div class="counter-list-label">{{label}}</div>
          </div>  
        </div>

        <div class="flexrow flex4" style="flex-wrap: nowrap; justify-content: flex-end;"> 
          <div style="white-space: nowrap; margin: 0.5em" class="flex0"  title="{{localize "SFRPG-COUNTER.value-max"}}">
            {{value}} / {{max}}
          </div>
          <button type="button" class="counter-list-changevalue-button flex0" data-action="reduce" title="{{localize "SFRPG-COUNTER.reduce-counter"}}"><i class="fas fa-minus"></i></button>
          <button type="button" class="counter-list-changevalue-button flex0" data-action="increase" title="{{localize "SFRPG-COUNTER.increase-counter"}}"><i class="fas fa-plus"></i></button>
          <button type="button" class="counter-list-changevalue-button flex0" title="{{localize "SFRPG-COUNTER.edit-counter"}}" data-action="edit"><i class="fas fa-edit"></i></button>
          <button type="button" class="counter-list-changevalue-button flex0" title="{{localize "SFRPG-COUNTER.delete-counter"}}" data-action="delete">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <i class="fas fa-heart" style="color: red" title="{{localize "SFRPG-COUNTER.stf"}}"></i>

  <button type="button" title="{{localize "SFRPG-COUNTER.add-counter"}}" data-action="create"><i class="fas fa-plus"></i> Add Counter</button>  
 
 
</form>