{{log 'counter-edit-template' this}}

<form>
    <div class="flexcol">
    <div>
        <label for="label">Name: </label>
        <input type="text" value="{{label}}" name="label" data-dtype="String" />
    </div>
    <div>
        <label for="min">Min: </label>
        <input type="text" value="{{min}}" name="min" data-dtype="String" />
    </div>
    <div>
        <label for="max">Max: </label>
        <input type="text" value="{{max}}" name="max" />
    </div>
    <div>
        <label for="value">Value: </label>
        <input type="text" value="{{value}}" name="value" />
    </div>
    <div>
        <label for="isAuto">Auto update: </label>
        <input type="checkbox" name="isAuto" data-dtype="Boolean" {{checked isAuto}} />
    </div>
    {{#if isAuto}}
    <div>
        <label for="autoOn"> on... </label>
        <select name="autoOn">
            {{#select autoOn}}
            <option value="longRest">Long rest</option>
            <option value="shortRest">Short rest</option>
            <option value="startTurn">Start of combat turn</option>
            <option value="endTurn">End of combat turn</option>
            {{/select}}
        </select>
    </div>
    <div>
        <label for="autoValue">by..</label>
        <select name="autoValue">
            {{#select autoValue}}
            <option value="addOne">adding 1</option>
            <option value="subOne">subtracting 1</option>
            <option value="toMin">setting to min</option>
            <option value="toMax">setting to max</option>
            {{/select}}
        </select>
    </div>
    {{/if}}
    <div>
        <label for="isItemAuto">Auto-update feat</label>
        <input type="checkbox" name="isItemAuto" data-dtype="Boolean" {{checked isItemAuto}} />
    </div>
    <div class="flexrow">
        <div class="item-image">
            <img src={{itemImg}} style="height: 35px; max-width:100%;">
        </div>
        <div name="itemName">{{itemName}}</div>
        <!-- <input type="text" name="itemId" value="{{itemId}}"></div> -->
    </div>
    {{#if isItemAuto}}
    <div>
        <label for="itemActivateAt">activate feat on..</label>
        <input type="text" value="{{itemActivateAt}}" name="itemActivateAt" />
    </div>
    <div>
        <label for="itemDeactivateAt">deactivate feat on..</label>
        <input type="text" value="{{itemDeactivateAt}}" name="itemDeactivateAt" />
    </div>
    {{/if}}
    </div>
</form>